## def

In [ ]:
# functions are recallable, they help to repeat the process instead of writing code from scratch again

In [2]:
def greet(name):
    print(f"Hello,{name}")

In [9]:
greet("python")

Hello,python

In [4]:
greet("Excelr")

Hello,Excelr

In [5]:
greet("Ds_batch")

Hello,Ds_batch

In [6]:
greet("Da_Batch")

Hello,Da_Batch

In [7]:
greet("AI_Batch")

Hello,AI_Batch

In [10]:
def add(a,b):
    return a+b

In [11]:
add(3,4)

7

In [14]:
def power(base,exponent=2):
    return base ** exponent

In [16]:
power(3,4)

81

In [17]:
power(11)

121

In [18]:
def min_max(numbers):
    return min(numbers),max(numbers)

In [19]:
min_max([1,5,3,9,2])

(1, 9)

In [20]:
def product(a,b):
    return a*b

product(3,4)

12

In [21]:
mul = lambda x,y:x*y

In [22]:
mul(3,4)

12

In [23]:
product(5,4)

20

In [24]:
def factorial(n):
    # Check if 'n' is 0 or 1 (base case for recursion)
    if n == 0 or n == 1:
        # If 'n' is 0 or 1, return 1 because factorial of 0 and 1 is 1
        return 1
    else:
        # If 'n' is greater than 1, recursively call 'factorial' with (n-1)
        # Multiply 'n' by the factorial of (n-1)
        return n * factorial(n - 1)

In [28]:
factorial(5)

120

In [26]:
5*4*3*2*1

120

In [29]:
def is_even(number):
    return number%2==0

is_even(39401)

False

In [30]:
numbers = [1,2,3,4,5]

def even_odd(numbers):
    for i in numbers:
        if i%2==0:
            print("even")
        else:
            print("odd")

            
even_odd(numbers)

odd
even
odd
even
odd

In [31]:
even_odd([3,4,5,10,11])

odd
even
odd
even
odd

In [32]:
numbers = [2,4,3,1]
def is_even(number):
    return number%2==0

even_numbers = [num for num in numbers if is_even(num)]
odd_numbers = [num for num in numbers if not is_even(num)]

In [33]:
even_numbers

[2, 4]

In [34]:
odd_numbers

[3, 1]

In [45]:
prime = 8

for i in range(2,prime):# for i in range(2,8)
    if prime%i==0:## 7 % i means (2 to 7)
        print("not a prime")
        break
        
else:
    print("prime")

prime

In [57]:
8%2

0

In [ ]:
if
else



if one case


else as another case

In [58]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [ ]:
8%4

In [59]:
def prime(x):
    if x<=2:
        return "not prime"

    for i in range(2,x):
        if x%i==0:
            return "not prime"
    return "prime"

In [60]:
prime(7)

'prime'

In [61]:
prime(6)

'not prime'

In [64]:
def is_prime(prime):
    for i in range(2,prime):
        if prime%i==0:
            return False
    return True 

def check_prime(number):
    if is_prime(number):
        return "prime"
    else:
        return "not a prime"
    
prime = 89
check_prime(prime)

'prime'

In [65]:
def calculator(operation,a,b):
    if operation=="add":
        return a+b
    elif operation =="subtract":
        return a-b
    elif operation =="multiply":
        return a*b
    elif operation == "divide":
        return a/b  if b!=0 else "Error:Divison by zero"
    else:
        return "Error: Invalid operation"

In [68]:
calculator('divid',5,0)

'Error: Invalid operation'

In [69]:
a = "we are learning python"

In [70]:
a[::-1]

'nohtyp gninrael era ew'

In [71]:
def reverse_string(text):
    return text[::-1]

reverse_string("A man, a plan, a canal: Panama")

'amanaP :lanac a ,nalp a ,nam A'

In [72]:
def celsius_to_fahrenheit(celsius):
    return (celsius*9/5)+32

celsius_to_fahrenheit(25)

77.0

In [74]:
# A man, a plan, a canal:

In [75]:
# palindrome
def is_palindrome(text):
    cleaned_text = ''.join(char.lower() for char in text if char.isalnum())
    print(f"this is my cleaned text: {cleaned_text}")
    return cleaned_text == cleaned_text[::-1]

def test_palindrome():
    test_cases = [
        "A man, a plan, a canal: Panama",
        "race a car",
        "hello",
        "12321",
        "python",
        "racecar"
    ]
    for case in test_cases:
        result = "is" if is_palindrome(case) else "is not"
        print(result)
        print(f"'{case}' {result} a palindrome.")

In [76]:
test_palindrome()

this is my cleaned text: amanaplanacanalpanama
is
'A man, a plan, a canal: Panama' is a palindrome.
this is my cleaned text: raceacar
is not
'race a car' is not a palindrome.
this is my cleaned text: hello
is not
'hello' is not a palindrome.
this is my cleaned text: 12321
is
'12321' is a palindrome.
this is my cleaned text: python
is not
'python' is not a palindrome.
this is my cleaned text: racecar
is
'racecar' is a palindrome.

In [ ]:
# convert into lowercase
# remove all non alphanumerica characters using isalnum()
#join characters into single string
# we then compare this cleaned string with its reverse cleaned_text == cleaned_text[::-1]

In [ ]:
# zip function
# enumerate

In [77]:
names = ["python","java","javascript"]
ages = [20,30,25]

for name,age in zip(names,ages):
    print(f"{name} is {age} years old")

python is 20 years old
java is 30 years old
javascript is 25 years old

In [78]:
dict(zip(names,ages))

{'python': 20, 'java': 30, 'javascript': 25}

In [79]:
list1 = [1,2,3,4,5]
list2 = ['a','b','c']

In [80]:
list(zip(list1,list2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [81]:
dict(zip(list1,list2))

{1: 'a', 2: 'b', 3: 'c'}

In [82]:
pairs = [(1, 'a'), (2, 'b'), (3, 'c')]

numbers,letters = zip(*pairs)

In [83]:
numbers

(1, 2, 3)

In [84]:
letters

('a', 'b', 'c')

In [85]:
list1 = [1,2,3,4,5]
list2 = ['a','b','c']
ages = [20,30,25]

for i,j,k in zip(list1,list2,ages):
    print(f"{i} is {k} years old and lives in {j}")

1 is 20 years old and lives in a
2 is 30 years old and lives in b
3 is 25 years old and lives in c

In [86]:
fruits = ['apple','banana','cherry']

for index,fruit in enumerate(fruits):
#     print(f"Index {index}: {fruit}")
      print(index,fruit)

0 apple
1 banana
2 cherry

In [87]:
word = "python"

for position,letter in enumerate(word):
    print(f"Position {position}: {letter}")

Position 0: p
Position 1: y
Position 2: t
Position 3: h
Position 4: o
Position 5: n

In [88]:
animals = ['cat','dog','elephant']
dict(enumerate(animals))

{0: 'cat', 1: 'dog', 2: 'elephant'}

In [89]:
list(enumerate(animals))

[(0, 'cat'), (1, 'dog'), (2, 'elephant')]

In [90]:
tuple(enumerate(animals))

((0, 'cat'), (1, 'dog'), (2, 'elephant'))

In [91]:
numbers = [10,20,30,40]

squared_numbers = [(index,number**2) for index,number in enumerate(numbers)]
print(squared_numbers)

[(0, 100), (1, 400), (2, 900), (3, 1600)]

In [92]:
points = [(1,2),(3,4),(5,6)] 

for i, (j,k) in enumerate(points): 
    print(f" point {i}: ({j},{k})")

 point 0: (1,2)
 point 1: (3,4)
 point 2: (5,6)

In [ ]:
# strings
# int
# float
# user input method
# variables
# lists
# tuples
# sets
# dict
# loops
# if else elif
# list comprehensions
# lambda
# def 
# zip
# enumerate

# 70% of python

# 5 questions  per day it is 150 different questions you have solved....

In [ ]:
# webdevelopment
# gaming
# cyber security
# data science