In [1]:
## lists
## tuples
## sets

In [2]:
# dict
# loops
# if else
# list comprehensions

In [3]:
# the dict format is {key:value}

print({"Name":"Python"})
print({"Age":30})

{'Name': 'Python'}
{'Age': 30}

In [4]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "Bangalore"
}

In [5]:
person

{'name': 'Alice', 'age': 30, 'city': 'Bangalore'}

In [6]:
person.items()

dict_items([('name', 'Alice'), ('age', 30), ('city', 'Bangalore')])

In [7]:
person.keys()

dict_keys(['name', 'age', 'city'])

In [8]:
person.values()

dict_values(['Alice', 30, 'Bangalore'])

In [9]:
person

{'name': 'Alice', 'age': 30, 'city': 'Bangalore'}

In [10]:
person["city"]

'Bangalore'

In [11]:
person["name"] = ["Alice","BOB"]

In [12]:
person

{'name': ['Alice', 'BOB'], 'age': 30, 'city': 'Bangalore'}

In [13]:
person["age"]

30

In [14]:
person["Job"] = "Engineer"

In [15]:
person

{'name': ['Alice', 'BOB'], 'age': 30, 'city': 'Bangalore', 'Job': 'Engineer'}

In [16]:
person["age"] = 31

In [17]:
person

{'name': ['Alice', 'BOB'], 'age': 31, 'city': 'Bangalore', 'Job': 'Engineer'}

In [18]:
person["city"] = ["Bangalore","Hyderabad"]

In [19]:
person

{'name': ['Alice', 'BOB'],
 'age': 31,
 'city': ['Bangalore', 'Hyderabad'],
 'Job': 'Engineer'}

In [20]:
person["city"][1]

'Hyderabad'

In [21]:
del person["city"][1]

In [22]:
person

{'name': ['Alice', 'BOB'], 'age': 31, 'city': ['Bangalore'], 'Job': 'Engineer'}

In [23]:
person.get("name")

['Alice', 'BOB']

In [24]:
person.get("age")

31

In [25]:
person.get("Job")

'Engineer'

In [26]:
person.pop('Job')

'Engineer'

In [ ]:
person

In [ ]:
person.popitem()

In [ ]:
person

In [ ]:
person.update({"city":"HYD","loc":"cyber"})

In [ ]:
person

In [ ]:
person.update({"city":"bglr","loc":"itpl"})

In [ ]:
person

In [ ]:
person["city"] = "chennai"

In [ ]:
person

In [ ]:
type(person)

b = {2,3}
c = {3,4}

my required output is {2,[3,3],4}

## take your time

In [ ]:
# loops

In [ ]:
a = [1,2,3,4,5]
## i want to increment every element by 10

In [ ]:
b = []
b.append(a[0]+10)
b.append(a[1]+10)
b.append(a[2]+10)
b.append(a[3]+10)
b.append(a[4]+10)

In [ ]:
b

In [ ]:
## for loop
a = [1,2,3,4,5]

for i in a:
    print(i)

In [ ]:
a

In [ ]:
b = []
for i in a:
    b.append(i+10)

In [ ]:
b

In [ ]:
# range
# range contains starting point and ending point , we always get output ending point - 1
for i in range(1,5):
    print(i)

In [ ]:
for i in range(3):
    print(i)

In [ ]:
for i in range(2,5+2):
    print(i)

In [ ]:
d = {1,2,3,4}
len(d)   # len helps us in finding the number of elements present

In [ ]:
A = [1,2,3,4,5]

for i in range(len(A)):
    print(i)
    A[i]+=15
#     A[i] = i + 15
   
    print(A)

## if else

In [ ]:
# these are conditions

number = -7   ## statement

if number>0:  ## condition 1
    print("positive") ## print
else:  # if the above "if" did not work, automatically the code willl check for else
    print("negative") # print

In [ ]:
number =  int(input("enter your number: "))

if number>0:
    print("positive")
else:
    print("negative")

In [ ]:
number = 20

if number%2==0:
    print("even")
else:
    print("odd")

In [ ]:
20%2

In [ ]:
number = int(input("enter your number: "))

if number%2==0:
    print("even")
else:
    print("odd")

In [ ]:
number = 0
if number>0:
    print("positive")
elif number==0:
    print("neutral")
else:
    print("negative")

In [ ]:
numbers = [11,12,13,14,15]
print(type(numbers))

for i in numbers:
    if i%2==0:
        print("even")
    else:
        print("odd")

In [ ]:
numbers = [1,2,3,4,5]

for i in numbers:
    if i%2==0:
        print("even")
    else:
        print("odd")

In [ ]:
# obj:- take the input of marks of particular subject. and do average and put some conditions and give the grade


M1 = int(input("Enter your M1 Marks: "))
P1 = int(input("Enter your P1 Marks: "))
C1 = int(input("Enter your C1 Marks: "))


AVG = sum([M1,P1,C1])/3

print(AVG)
if AVG >91:
    print("Congratulations!! you got A+")
elif AVG >81 and AVG <=90:
    print("Congratulations!! you got A")
elif AVG >71 and AVG <=80:
    print("Congratulations!! you got B+")
elif AVG >61 and AVG <=70:
    print("Congratulations!! you got B")
else:
    print("Better luck next time")

In [ ]:
## taks:- find the prime number

# number = 7

In [ ]:
# list comprehensions

## we need to write the logic at the right side and print at left side

In [ ]:
[i**2 for i in range(10)]

In [ ]:
[i**2 for i in range(10) if i%2==0]

In [ ]:
numbers = [1,2,3,4,5,6]

even_odd = ['even' if i%2==0 else 'odd' for i in numbers]
print(even_odd)

In [ ]:
numbers = [-1,-2,0,1,2,3]
positive = [i for i in numbers if i>=0]
print(positive)

In [ ]:
numbers = [-1,-2,0,1,2,3]
non_negative = [i if i>=0 else 0 for i in numbers]
print(non_negative)

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]

categories = ["low" if i<=5 else 'high' for i in numbers]
print(categories)