In [1]:
greet = "Hello"
print(greet)

Hello

In [2]:
print("Hello World!!")  # shift + enter , ctrl+ enter ,alt + enter

Hello World!!

In [3]:
#variables
Greetings= "Hi!! how are you??"
print(Greetings)

Hi!! how are you??

In [5]:
sum1 = "3+4*234-34+234"
print(sum1)

3+4*234-34+234

In [6]:
excelr_institute = "We are learning A.I Today"
print(excelr_institute)

We are learning A.I Today

In [7]:
_excelr = "We are learning A.I Today"
print(_excelr)

We are learning A.I Today

In [8]:
python_1_tool_sum = "it is programming language"
print(python_1_tool_sum)

it is programming language

In [9]:
id(python_1_tool_sum)

2026915424544

In [10]:
id(excelr_institute)

2026915427424

In [ ]:
# create variable by putting information that  "you have learnt variables"

In [11]:
learning_variables = "you have learnt variables"
print(learning_variables)

you have learnt variables

In [12]:
Greetings = "Hi!! How are you today?"
age = 32
print("Congratulations!!",Greetings,"I heard that you are",age)  # one method
print(f"Congratulations!! {Greetings} I heard that you are {age}") # other method

Congratulations!! Hi!! How are you today? I heard that you are 32
Congratulations!! Hi!! How are you today? I heard that you are 32

In [13]:
python3= "new version"
print(python3)

new version

In [14]:
print(Greetings,"Congratulations!!,you are turning",age)

Hi!! How are you today? Congratulations!!,you are turning 32

In [17]:
# try the above print inthe f string format  task

In [18]:
wish = "Congratulations!!,you are turning"

In [19]:
print(Greetings,wish,age)

Hi!! How are you today? Congratulations!!,you are turning 32

In [ ]:
## here Greetings and the age are the variables

In [ ]:
# learn = "we are learning python today"

# ## learn is something variable which contains information
# output = "we can create data science applications"
# ## output is also variable which contains information

# # print(learn,"so that",output)
# print(f'{learn}, so that, {output}')

# ## in other words variable is helpful to store the information

In [20]:
## lets understand how to write the variables ?

learn!! = "we are learning python today"   # not the right way to write the variable

SyntaxError: invalid syntax (2432648554.py, line 3)

In [21]:
learn__ = "we are learning python today" # you can create variable like this

In [22]:
__learn = "we are learning python today"

In [23]:
list1_list2_list3 = "all lists are present"
print(list1_list2_list3)

all lists are present

In [24]:
list1_and_list2_and_list3 = "all lists are present"
print(list1_and_list2_and_list3)

all lists are present

In [25]:
random_information ="sdjfwidjfiwsjfiowjoms289430934834!@#(#(#@($)))+_"
print(random_information)

sdjfwidjfiwsjfiowjoms289430934834!@#(#(#@($)))+_

In [26]:
random_information_1 ='sdjfwidjfiwsjfiowjoms289430934834!@#(#(#@($)))+_'
print(random_information_1)

sdjfwidjfiwsjfiowjoms289430934834!@#(#(#@($)))+_

## strings  " ", ' '

In [27]:
info  = "Our trip was very good yesterday!!,sfsdjfsjlf289438913842"

In [28]:
print(info)

Our trip was very good yesterday!!,sfsdjfsjlf289438913842

In [29]:
info1 = 'Our trip was very good yesterday!!,sfsdjfsjlf289438913842'
print(info1)

Our trip was very good yesterday!!,sfsdjfsjlf289438913842

In [30]:
info2 = '''This is multi-line string.
sdfsdf
sdfdsfsdf
'''

In [31]:
print(info2)

This is multi-line string.
sdfsdf
sdfdsfsdf

In [32]:
info_1 = """
1.A.I has more demand in the market
2.python is the best programming to learn
3.you need to have good foundation of stats"""

In [33]:
print(info_1)

1.A.I has more demand in the market
2.python is the best programming to learn
3.you need to have good foundation of stats

In [34]:
I_T = "1.A.I has more demand in the market 2.python is the best programming to learn 3.you need to have good foundation of stats"

In [35]:
print(I_T)

1.A.I has more demand in the market 2.python is the best programming to learn 3.you need to have good foundation of stats

In [36]:
info3 = """this is multi line string
sdfsf
sdfsdf"""

In [37]:
print(info3)

this is multi line string
sdfsf
sdfsdf

## double quotes and single quotes at one place

In [38]:
char = "We learnt 'something' today.."
print(char)

# if the string starts with double quotes, in the sentences you have to give single quote
# if the string starts with single quotes, in the sentences you have to give double quote

We learnt 'something' today..

In [39]:
char1 = 'We learnt "something" today'
print(char1)

We learnt "something" today

In [40]:
type(char)

str

In [41]:
type(char1)

str

In [42]:
type(info3)

str

In [43]:
type(info2)

str

In [46]:
numbers = 1234505
print(numbers)

1234505

In [47]:
numbers1 = "1234504"
print(numbers1)

1234504

In [48]:
type(numbers1)

str

In [49]:
type(numbers)

int

In [50]:
numbers2 = 292.2342
print(numbers2)

292.2342

In [51]:
type(numbers2)

float

In [52]:
numbers_string = "292.2342"
print(numbers_string)

292.2342

In [53]:
type(numbers_string)

str

## can we convert the datatypes

In [54]:
age = 32.5
print("Original age",age)
print("*************************")
convert_into_integer = int(age)
print("After conversion ")
print(convert_into_integer)
print("************************")
print(type(convert_into_integer))

Original age 32.5
*************************
After conversion
32
************************
<class 'int'>

In [55]:
age_int = 35
convert_into_float = float(age_int)
print(convert_into_float)
print("-----------------------------")
print(type(convert_into_float))

35.0
-----------------------------
<class 'float'>

In [56]:
age2 = 35
age_str = str(age2)
print(age_str)
print("              ")
print(type(age_str))

35

<class 'str'>

In [57]:
age_str = "35.6"
print(type(age_str))
print("-------------------------")
age_float = float(age_str)
print(age_float)
print("*********")
print(type(age_float))

<class 'str'>
-------------------------
35.6
*********
<class 'float'>

## operations

In [58]:
a = 25
b = 16

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

41
9
400
1.5625
1
9

In [59]:
a = 25
b = 16

print("The sum is:",a+b)
print("The difference is:",a-b)
print("The multiplicative is:",a*b)
print("The division is:",a/b)
print("the floor division is:",a//b)   ## floor division
print("the remainder is:",a%b)  #modulus

The sum is: 41
The difference is: 9
The multiplicative is: 400
The division is: 1.5625
the floor division is: 1
the remainder is: 9

In [ ]:
# convert the above prints into f-strings

In [60]:
25%16

9

In [ ]:
##  create greetings to the john because he completed 5 years in the company, but the final output i want is 
# you have to greet him in months using python

In [61]:
Person = "John"
Greetings = "Congratulations!!"
Reason = "you have completed 5 years in the company"

print(f"Hey {Person} {Greetings} {Reason}")

Hey John Congratulations!! you have completed 5 years in the company

In [62]:
print("Hey",Person,Greetings,Reason)

Hey John Congratulations!! you have completed 5 years in the company

In [63]:
Person = "John"
Greetings = "Congratulations!!"
age = 5
convert_into_months = age *12
Reason = f"you have completed {convert_into_months} months in the company...."

print(f"Hey {Person} {Greetings} {Reason}")

Hey John Congratulations!! you have completed 60 months in the company....

In [64]:
print(f"Hey {Person} {Greetings} you have completed {convert_into_months} months in the company....")

Hey John Congratulations!! you have completed 60 months in the company....

In [67]:
Person = "John"
Greetings = "Congratulations!!"
months = "12"
months_int = int(months)
age = 5 * months_int
print(f"Hey {Person} {Greetings} you have completed {age} months in the company....")

Hey John Congratulations!! you have completed 60 months in the company....

In [ ]:
## variables
# strings
## int
## float
## operations
## normal prints
## f strings
# data type conversions