In [2]:
a = 1
b = 2

## you have the value 1 you are storing in a
## you have the value 2 you are storing in b

c = a+b
c

3

In [3]:
a

1

In [4]:
id(a)

2854523633904

In [5]:
a = 10   ##variable overlapping
print(a)
id(a)

10

2854523634192

In [6]:
type(a)

int

In [7]:
a = 10
b = 20
##swap the variables
a,b = b,a

In [8]:
a

20

In [9]:
b

10

In [10]:
#data types

a = 'data science'

type(a)

str

In [11]:
a = '10'
type(a)

str

In [12]:
learn = "we are 'learning' python"
print(learn)

we are 'learning' python

In [13]:
learn = 'we are "learning" python'
print(learn)

we are "learning" python

In [14]:
a = "we are learning Artificial Intelligence"
a

'we are learning Artificial Intelligence'

In [15]:
a.capitalize()

'We are learning artificial intelligence'

In [16]:
a.islower()

False

In [17]:
a.isupper()

False

In [18]:
a.upper()

'WE ARE LEARNING ARTIFICIAL INTELLIGENCE'

In [19]:
a.lower()

'we are learning artificial intelligence'

In [20]:
a

'we are learning Artificial Intelligence'

In [23]:
a.count('a')  # python is case sensitive

3

In [22]:
a.index('l')   #python index always start from 0
# why it is considering only first a why not remaining a

7

In [24]:
a.find('l')  ## find gives the index of the character

7

In [25]:
a = 10
b = 20

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

30
-10
200
0.5
0
10

## Input Method Python

## user input method

In [26]:
a = input("enter your name: ")
print(type(a))

enter your name: python
<class 'str'>

In [27]:
## get the user age and calculate months

a = input("enter your age: ")
print(type(a))
months = a*12
print(f"your age in months is {months}")

enter your age: 32
<class 'str'>
your age in months is 323232323232323232323232

In [28]:
## get the user age and and calculate months

a = int(input("enter your age: "))
print(type(a))
months = a*12
print(f"your age in months is {months}")

enter your age: 32
<class 'int'>
your age in months is 384

## lists

In [ ]:
## lists are something used to store the information... any type of information can be stored...
# lists format is like "[]"

In [29]:
a = ["python","R","Tableau","Sql","!@@","1242423",2323523]

In [30]:
type(a)

list

In [31]:
a

['python', 'R', 'Tableau', 'Sql', '!@@', '1242423', 2323523]

In [32]:
a.append("smart contracts")

In [33]:
a

['python', 'R', 'Tableau', 'Sql', '!@@', '1242423', 2323523, 'smart contracts']

In [36]:
a.append(["java script","type script"])

In [37]:
a

['python',
 'R',
 'Tableau',
 'Sql',
 '!@@',
 '1242423',
 2323523,
 'smart contracts',
 ['java script', 'type script'],
 ['java script', 'type script']]

In [40]:
a[8][1]

'type script'

In [41]:
a[-2]

['java script', 'type script']

In [ ]:
# append is useful to insert the information if it is one word information it will store normally, 
# if it is two worded information or more information then it will create a new list inside...

In [42]:
a

['python',
 'R',
 'Tableau',
 'Sql',
 '!@@',
 '1242423',
 2323523,
 'smart contracts',
 ['java script', 'type script'],
 ['java script', 'type script']]

In [43]:
a.insert(2,"tensorflow")

In [44]:
a

['python',
 'R',
 'tensorflow',
 'Tableau',
 'Sql',
 '!@@',
 '1242423',
 2323523,
 'smart contracts',
 ['java script', 'type script'],
 ['java script', 'type script']]

In [45]:
a.insert(3,"pytorch")

In [46]:
a

['python',
 'R',
 'tensorflow',
 'pytorch',
 'Tableau',
 'Sql',
 '!@@',
 '1242423',
 2323523,
 'smart contracts',
 ['java script', 'type script'],
 ['java script', 'type script']]

In [47]:
a.insert(3,["ann","perceptron"])

In [48]:
a

['python',
 'R',
 'tensorflow',
 ['ann', 'perceptron'],
 'pytorch',
 'Tableau',
 'Sql',
 '!@@',
 '1242423',
 2323523,
 'smart contracts',
 ['java script', 'type script'],
 ['java script', 'type script']]

In [49]:
a.extend(["blockchain"])

In [50]:
a

['python',
 'R',
 'tensorflow',
 ['ann', 'perceptron'],
 'pytorch',
 'Tableau',
 'Sql',
 '!@@',
 '1242423',
 2323523,
 'smart contracts',
 ['java script', 'type script'],
 ['java script', 'type script'],
 'blockchain']

In [51]:
a.extend(["IOT","A.I"])

In [53]:
a

['python',
 'R',
 'tensorflow',
 ['ann', 'perceptron'],
 'pytorch',
 'Tableau',
 'Sql',
 '!@@',
 '1242423',
 2323523,
 'smart contracts',
 ['java script', 'type script'],
 ['java script', 'type script'],
 'blockchain',
 'IOT',
 'A.I']

In [ ]:
## extend is useful to extend the list..... like append it will not create another list inside the list
## insert is useful to insert the information at the desired place but it also create another list if it has more elements
## append is useful to insert the information in form of list(multiple elements) or normal format (single element)

In [54]:
a

['python',
 'R',
 'tensorflow',
 ['ann', 'perceptron'],
 'pytorch',
 'Tableau',
 'Sql',
 '!@@',
 '1242423',
 2323523,
 'smart contracts',
 ['java script', 'type script'],
 ['java script', 'type script'],
 'blockchain',
 'IOT',
 'A.I']

In [55]:
a.index('Tableau')

5

In [56]:
a.count('Tableau')

1

In [57]:
a

['python',
 'R',
 'tensorflow',
 ['ann', 'perceptron'],
 'pytorch',
 'Tableau',
 'Sql',
 '!@@',
 '1242423',
 2323523,
 'smart contracts',
 ['java script', 'type script'],
 ['java script', 'type script'],
 'blockchain',
 'IOT',
 'A.I']

In [58]:
a.pop()

'A.I'

In [59]:
a

['python',
 'R',
 'tensorflow',
 ['ann', 'perceptron'],
 'pytorch',
 'Tableau',
 'Sql',
 '!@@',
 '1242423',
 2323523,
 'smart contracts',
 ['java script', 'type script'],
 ['java script', 'type script'],
 'blockchain',
 'IOT']

In [60]:
a.pop(2)

'tensorflow'

In [61]:
a

['python',
 'R',
 ['ann', 'perceptron'],
 'pytorch',
 'Tableau',
 'Sql',
 '!@@',
 '1242423',
 2323523,
 'smart contracts',
 ['java script', 'type script'],
 ['java script', 'type script'],
 'blockchain',
 'IOT']

In [62]:
a.pop(5)

'Sql'

In [63]:
a

['python',
 'R',
 ['ann', 'perceptron'],
 'pytorch',
 'Tableau',
 '!@@',
 '1242423',
 2323523,
 'smart contracts',
 ['java script', 'type script'],
 ['java script', 'type script'],
 'blockchain',
 'IOT']

In [66]:
a.pop(-3)

['java script', 'type script']

In [67]:
a

['python',
 'R',
 ['ann', 'perceptron'],
 'pytorch',
 'Tableau',
 '!@@',
 '1242423',
 2323523,
 'smart contracts',
 'blockchain',
 'IOT']

In [ ]:
# python index always counts from 0 from left to right
# when counting from right to left it starts from -1

In [ ]:
# pop helps to remove the elements with the help of index that can be from left to right or right to left

In [68]:
a

['python',
 'R',
 ['ann', 'perceptron'],
 'pytorch',
 'Tableau',
 '!@@',
 '1242423',
 2323523,
 'smart contracts',
 'blockchain',
 'IOT']

In [69]:
a.remove("blockchain")

In [70]:
a

['python',
 'R',
 ['ann', 'perceptron'],
 'pytorch',
 'Tableau',
 '!@@',
 '1242423',
 2323523,
 'smart contracts',
 'IOT']

In [71]:
a.insert(3,"java")

In [72]:
a

['python',
 'R',
 ['ann', 'perceptron'],
 'java',
 'pytorch',
 'Tableau',
 '!@@',
 '1242423',
 2323523,
 'smart contracts',
 'IOT']

In [73]:
a.remove('smart contracts')

In [74]:
a

['python',
 'R',
 ['ann', 'perceptron'],
 'java',
 'pytorch',
 'Tableau',
 '!@@',
 '1242423',
 2323523,
 'IOT']

In [75]:
a = [5, 4, 2, 1, 3]

a.reverse()

In [76]:
a

[3, 1, 2, 4, 5]

In [79]:
a = [9,8,10,12]

a.sort(reverse=False)

In [80]:
a

[8, 9, 10, 12]

In [ ]:
## lists can be modified highly.... you can change as your wish

In [81]:
## insert
## append
## extend
## pop
## remove
## reverse 
## sort

## lists are mutable as they have option to edit, remove, add etc...

## tuples

In [82]:
# tuples always starts with "()"

In [83]:
a = ("TCS","HCL","HCL","IBM")

In [84]:
a

('TCS', 'HCL', 'HCL', 'IBM')

In [85]:
type(a)

tuple

In [86]:
a.count("HCL")

2

In [87]:
a.index("IBM")

3

In [ ]:
## tuples are immutable as they dont provide any option to modify or remove the information

## sets

In [88]:
# in python sets format is "{}"

In [89]:
a = {1,2,3,4,4,5}

In [90]:
a

{1, 2, 3, 4, 5}

In [91]:
b = {3,5,6,6,7,9}

In [92]:
b

{3, 5, 6, 7, 9}

In [93]:
a.intersection(b)

{3, 5}

In [94]:
b.intersection(a)

{3, 5}

In [95]:
a&b

{3, 5}

In [96]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 9}

In [97]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 9}

In [98]:
a|b

{1, 2, 3, 4, 5, 6, 7, 9}

In [99]:
a,b

({1, 2, 3, 4, 5}, {3, 5, 6, 7, 9})

In [100]:
a-b    ## once we remove common elements from both we will have a = {1,2,4} in b = {6,7,9}
# BECAUSE IT IS a-b it considers the present elements only in a but not in b

{1, 2, 4}

In [101]:
b-a  ## once we remove common elements from both we will have a = {1,2,4} in b = {6,7,9}
# BECAUSE IT IS b-a it considers the present elements only in b but not in a

{6, 7, 9}

In [102]:
a.difference(b)

{1, 2, 4}

In [103]:
b.difference(a)

{6, 7, 9}

In [104]:
a.symmetric_difference(b)

{1, 2, 4, 6, 7, 9}

In [105]:
b.symmetric_difference(a)

{1, 2, 4, 6, 7, 9}

In [110]:
a = [1,2,3,4]
b = [3,4,5,6]


c = set(a)
d = set(b)

final_output = list(c.intersection(d))

In [111]:
final_output

[3, 4]

In [112]:
a = [1,2,3,4]
b = [3,4,5,6]

a = set(a)
b = set(b)

a.intersection(b)

{3, 4}

In [113]:
a = [1,2,3,4,5]
b = [2,3,6,8,9]

## find out the common elemnts from the above a and b

In [114]:
c = set(a)
d = set(b)

final_ouput = list(c&d)
final_ouput

[2, 3]

In [115]:
a = ('TCS','IBM',"HSBC")
a

('TCS', 'IBM', 'HSBC')

In [ ]:
# i want to add more elements into the above tuple but how??

In [116]:
b = list(a)
b.extend(["WIPRO","Deloitte"])

a = tuple(b)
print(a)

('TCS', 'IBM', 'HSBC', 'WIPRO', 'Deloitte')

In [117]:
a

('TCS', 'IBM', 'HSBC', 'WIPRO', 'Deloitte')